@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

.App {
  text-align: center;
}

body {
  padding: 0.25rem;
  font-family: 'Cabin Sketch', cursive;
}

h1 {
  text-align: center;
  color: orangered;
  font-weight: bolder;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #eeeeee;
  color: black;
}

.col1 {
  width: 10rem;
  font-weight: bold;
}
.col2 {
  width: 30rem;
}

.col2 {
  width: 20rem;
}

th {
  background-color: #f8bb8d;
  font-size: larger;
}

td {
  cursor: pointer;
}

td, th {
  padding: 0.4rem;
  border: 1px solid black;
  text-align: left;
}
