@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

.App {
  text-align: center;
}

body {
  padding: 0.25rem;
  font-family: 'Cabin Sketch', sans-serif;
}

h1 {
  text-align: center;
  color: orangered;
  font-weight: bolder;
}

.load {
  text-align: center;
}

.all-lists {
  text-align: center;
  margin: 3rem 1rem;
  /*border: solid 1px green;*/
}

.list {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 3rem 3rem 0;
  box-shadow: 8px 10px 8px #b2b2b2;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  color: black;
  border: none;
}

th {
  display: inline-flex;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: darkorange;
  font-size: larger;
  color: white;
}

td, th {
  padding: 0.5rem;
  border: 1px solid black;
  text-align: left;
}

.checkbox {
  cursor: pointer;
  color: #444444;
}

.btn {
  background-color: #fcfbfb;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all .2s ease-in-out;
  font-family: inherit;
}
.link {
  text-decoration: none;
  color: orangered;
  font-family: inherit;
}

.btn:hover {
  opacity: 0.9;
  transition: 0.5s;
  transform: scale(1.02);
}

.btn:hover .link {
  color: black;
}

.td-textarea  textarea.input {
  align-items: center;
  width: inherit;
}

.input {
  width: inherit;
  outline: none;
  border: none;
  cursor: text;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  align-items: inherit;
}

.list-col {
  align-items: center;
  padding-left: 0.6rem;
  font-weight: bold;

}

table, .list-col {
  width: 20rem;
}

.list-container {
  text-align: center;
}

.lastModifiedAt {
  text-align: center;
  margin-top: 2rem;
}