@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

.App {
  text-align: center;
}

body {
  padding: 0.25rem;
  font-family: 'Cabin Sketch', sans-serif;
}

h1 {
  text-align: center;
  color: orangered;
  font-weight: bolder;
}

.load {
  text-align: center;
}

.all-lists {
  text-align: center;
  margin: 5rem 3rem;
  /*border: solid 1px green;*/
}

.list {
  width: 10rem;
  display: inline-flex;
  justify-content: space-between;
  margin: 0 3rem;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  color: black;
  border: none;
}

th {
  text-transform: uppercase;
  background-color: darkorange;
  font-size: larger;
  color: white;
}

td, th {
  padding: 0.4rem;
  border: 1px solid black;
  text-align: left;
}

/*.col2-title {*/
/*  width: 20rem;*/
/*  color: orangered;*/
/*  text-transform: uppercase;*/
/*  font-weight: bold;*/
/*  font-size: 1.2rem;*/
/*}*/

.checkbox {
  cursor: pointer;
  color: #444444;
}

.btn {
  background-color: #f66b36;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all .2s ease-in-out;
  color:white;
  font-family: 'Cabin Sketch', sans-serif;
}
.link {
  text-decoration: none;
  color:white;
  font-family: 'Cabin Sketch', sans-serif;
}

.btn:hover {
  opacity: 0.8;
  transition: 0.5s;
  transform: scale(1.02);
  color: #330000;
}

.input {
  width: inherit;
  outline: none;
  border: none;
  cursor: text;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

.col1 {
  width: 10rem;
  font-weight: bold;
}

.col2 {
  width: 30rem;
}

.col3 {
  background-color: white;
  border: none;
}
